<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>F1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="css/mycss.css">
    <link rel="shortcut icon" href="images/titlef1.png">
</head>

<body id="body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">F1 Betting</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tracks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="help.html">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about_us.html">About us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <main role="main">
        <section id="toptext" class="jumbotron text-center ">
            <div class="container">
                <h1 class="jumbotron-heading">Make your F1 bets here!</h1>
                <p>Current races to bet on: </p>
            </div>
        </section>
        <!--ALL TRACKS-->
        <div class="taskContainer" align="center">
            <div class="row" id="targetRow" align="center">

				<!-- track -->
                {% for track in tracks %}
                <div class="col-sm-4">
                    <div class="borderspace">
                        <div class="top-tracks">
                            <p width="100%">{{ track.event }}, {{ track.name }}</p>
                        </div>
                        <div class="thumbnail">
                            <a href="details_track/{{ track.id }}">
                                <img src="{{ track.image }}" alt="Track image" style="width:100%">
                            </a>
                        </div>
                    </div>
                    <div class="spacer">
                    </div>
                </div>
                {% endfor %}

                <!--
                <div class="col-sm-4">
                    <div class="borderspace">
                        <div class="top-tracks">
                            <p width="100%">Australian Grand Prix, Melbourne</p>
                        </div>
                        <div class="thumbnail">
                            <a href="Melbourn.html">
                                <img src="https://i.ytimg.com/vi/uGWtlTpUjnc/maxresdefault.jpg" alt="Lights" style="width:100%">
                            </a>
                        </div>
                    </div>
                    <div class="spacer">
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="borderspace">
                        <div class="top-tracks">
                            <p width="100%">Chinese Grand Prix, Shanghai</p>
                        </div>
                        <div class="thumbnail">
                            <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">
                                <img src="https://i.ytimg.com/vi/RzMsOwbCOoM/maxresdefault.jpg" alt="Lights" style="width:100%">
                            </a>
                        </div>
                    </div>
                    <div class="spacer">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="borderspace">
                        <div class="top-tracks">
                            <p width="100%">Bahrain Grand Prix, Sakhir</p>
                        </div>
                        <div class="thumbnail">
                            <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">
                                <img src="https://i.ytimg.com/vi/bY_ntH8V-v8/maxresdefault.jpg" alt="Lights" style="width:100%">
                            </a>
                        </div>
                    </div>
                    <div class="spacer">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="borderspace">
                        <div class="top-tracks">
                            <p width="100%">Australian Grand Prix, Melbourne</p>
                        </div>
                        <div class="thumbnail">
                            <a href="Melbourn.html">
                                <img src="https://i.ytimg.com/vi/uGWtlTpUjnc/maxresdefault.jpg" alt="Lights" style="width:100%">
                            </a>
                        </div>
                    </div>
                    <div class="spacer">
                    </div>
                </div>
				-->
            </div>
        </div>
    </main>
    <!-- All the JavaScript--->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="js/myjava.js"></script>
</body>

</html>